@import url('https://fonts.googleapis.com/css?family=Lobster');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: black;
    background-color: chocolate;
}

#map  {
    height: 100%;
    
    
}

.container-fluid {
    padding-right: 0px; 
    padding-left: 0px; 
   
}


/*header*/
.bg-light {
    background-color: #6c757d!important;
    padding: 15px;
    border-bottom: 4px solid #efc093;
} 

.fa-plane, .fa-globe {
    padding-right: 10px;
    color: #c9854b;
}

.navbar-light .navbar-brand {
    color: #ffff;
    font-size: 30px;
    font-weight: 600;
}

.nav-item {
    font-size: 20px;
}

.pimg1 {
    background-image: url('/pictures/header_pic.jpg');
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .9;
}

 h1 {
    position: relative;
    top: 50%;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 4em;
    font-family: 'Lobster', cursive;
}

h4 {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 600;
}

/*search bar*/
.search-box {
    width: 60%;
    margin: 0px auto 0px auto;
    padding: 10px;
}

.searchbackground {
    background-color: #798088;
    border-top: 5px solid #ebc9a3;
    height: 70px;
}

/*Icons section*/
.icon {
   -webkit-filter: invert(25%);
 }
 
.icons {
    margin: 40px;
}

/*Popular holyday destination section */
.col-sm-4 p {
    color: #535353;
}

.btn-primary {
    color: #fff;
    background-color: #51463c;
    border-color: #c7935f;
}

/*Footer*/
.footer {
    width: 100%;
    height: 550px;
    background-color: #798088;
    overflow: hidden;
}




/*h1 {*/
/*    text-align: center;*/
/*    font-weight: 800;*/
/*    display: table-cell;*/
/*    vertical-align: middle;*/
/*}*/

/*}*/

/*.pimg2 {*/
/*    background-image: url('/pictures/img2.jpg');*/
/*    width: 100%;*/
/*    height: 400px;*/
/*    background-position: bottom;*/
/*}*/

/*.pimg3 {*/
/*    background-image: url('/pictures/img3.jpg');*/
/*    width: 100%;*/
/*    height: 400px;*/
    
/*}*/



/*.popDest {*/
/*    max-width: 100%;*/
/*    height: 300px;*/
/*}*/
   
